language: python
dist: xenial  # required for python 3.7+
matrix:
  include:
  - python: 3.5
    env: TOXENV=py35
  - python: 3.6
    env: TOXENV=py36
  - python: 3.7
    env: TOXENV=py37
cache: pip
install:
  - pip install tox
script:
  - tox
deploy:
  provider: releases
  on:
    tags: true
